$B: "";
$E: "";

$namespace: "ww";
$element-separator: "__";
$modifier-separator: "--";
$state-prefix: "is-";

// Func
@function selectorToString($selector) {
  $selector: inspect($selector);
  $selector: str-slice($selector, 2, -2);

  @return $selector;
}

@function containsModifier($selector) {
  $selector: selectortostring($selector);

  @if str-index($selector, $modifier-separator) {
    @return true;
  }

  @else {
    @return false;
  }
}

@function containWhenFlag($selector) {
  $selector: selectortostring($selector);

  @if str-index($selector, "." + $state-prefix) {
    @return true;
  }

  @else {
    @return false;
  }
}

@function containPseudoClass($selector) {
  $selector: selectortostring($selector);

  @if str-index($selector, ":") {
    @return true;
  }

  @else {
    @return false;
  }
}

@function hitAllSpecialNestRule($selector) {
  @return containsModifier($selector) or containWhenFlag($selector) or
    containPseudoClass($selector);
}

// Mix
@mixin b($block, $use-namespace: true) {
  @if $use-namespace == true {
    $B: $namespace + "-" + $block !global;
  }

  @else {
    $B: $block !global;
  }

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;
  $selector: &;

  @if hitAllSpecialNestRule($selector) {
    @at-root {
      #{$selector} {
        .#{$B + $element-separator + $element} {
          @content;
        }
      }
    }
  }

  @else {
    @at-root {
      .#{$B + $element-separator + $element} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  $selector: &;

  @at-root {
    #{& + $modifier-separator + $modifier} {
      @content;
    }
  }
}

@mixin when($state) {
  $selector: &;

  @at-root {
    #{$selector}.#{$state-prefix + $state} {
      @content;
    }
  }
}
