$scrollbar-size: 0.4rem;
$scrollbar-color-rail: #eee;
$scrollbar-color-thumb: #aaa;
$scrollbar-color-thumb-hover: #999;

%scrollbar {
  scrollbar-color: $scrollbar-color-thumb transparent !important;
  scrollbar-width: thin !important;

  &:hover {
    scrollbar-color: $scrollbar-color-thumb $scrollbar-color-rail !important;

    &::-webkit-scrollbar {
      &-thumb {
        background-color: rgba($scrollbar-color-thumb, 0.6);
      }
    }
  }

  &::-webkit-scrollbar {
    height: 0.35rem;
    width: 0.35rem;

    &:hover {
      background-color: $scrollbar-color-rail;
    }

    &-thumb {
      background-color: transparent;
      border-radius: 0.25rem;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: $scrollbar-color-thumb-hover;
      }
    }
  }
}
