$font-size: 16px;
$font-family: 'Montserrat', sans-serif !important;

$color-primary: #6091e6;
$color-black: #232323;
$color-white: #fff;
$color-grey:#f6f6f8;
$color-bg-app:#f5f8fd;
$color-icon:#7b7b7b;
$color-placeholder:#c4c4d8;

$color-bg-active-list-item: #9abaf2;

$color-bg-info-detail-dark: #90b2ee;
$color-bg-info-detail-light: #b6cffb;
