.flip-list-move {
  transition: transform 0.15s;
}

.no-move {
  transition: transform 0s;
}

.slide-left {
  &-leave-active,
  &-enter-active {
    transition: 0.2s ease-in-out;
  }

  &-enter {
    transform: translate(100%, 0);
  }

  &-leave-to {
    transform: translate(-100%, 0);
  }
}

.slide-right {
  &-leave-active,
  &-enter-active {
    transition: 0.2s ease-in-out;
  }

  &-enter {
    transform: translate(-100%, 0);
  }

  &-leave-to {
    transform: translate(100%, 0);
  }
}
